@font-face {
    font-family: 'NG';
    src: url('../fonts/NG-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'NG';
    src: url('../fonts/NG-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'NG';
    src: url('../fonts/NG-Bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'NG';
    src: url('../fonts/NG-ExtraBold.otf') format('opentype');
    font-weight: 900;
}